@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-12">
            <div class="white-box">
                <div class="user-bg">
                    <img width="100%" alt="user" src="~/assets/plugins/images/large/img1.jpg">
                    <div class="overlay-box">
                        <div class="user-content">
                            <a href="javascript:void(0)">
                                <img src="~/Images/UsersImages/@Model.OwnerInfo?.UserProfileImageName"
                                     class="thumb-lg img-circle" alt="img">
                            </a>
                            <h4 class="text-white mt-2">@Model.OwnerInfo?.UserName</h4>
                            <h5 class="text-white mt-2">@Model.OwnerInfo?.Email</h5>
                        </div>
                    </div>
                </div>
                <div class="user-btm-box mt-5 d-md-flex">
                    <div class="col-md-4 col-sm-4 text-center">
                        <h4>Apps Count : </h4>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <h4>@(Model.OwnerInfo?.AppCount??0)</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Application List</h3>
                            <button class="btn btn-primary">Add New App</button>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">
                                                @Html.DisplayNameFor(model => model.AppInfo.FirstOrDefault().AppToken)
                                            </th>
                                            <th class="border-top-0">
                                                @Html.DisplayNameFor(model => model.AppInfo.FirstOrDefault().IsActive)
                                            </th>
                                            @*<th class="border-top-0">Username</th>*@
                                            <th class="border-top-0">
                                                @Html.DisplayNameFor(model => model.AppInfo.FirstOrDefault().CreateDate)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.AppInfo)
                                        {
                                            <tr>
                                                @item.AppId
                                            </tr>
                                            <tr>
                                                @item.AppToken
                                            </tr>
                                            <tr>
                                                @item.IsActive
                                            </tr>
                                            <tr>
                                                @item.CreateDate
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>