@page
@model FSI.Server.Pages.Application.AppUsersModel
@{
    ViewData["Title"] = "Application Users";
}
<br />
<h1 class="text-center text-success">Application Users</h1>
<br />
<div class="table-responsive">
    <span class="text-danger">@TempData["Err"]</span>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Profile Image</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Is Active</th>
                <th>Phone Number</th>
                <th>
                    Active Date
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Users != null)
            {
                foreach (var item in Model.Users)
                {
                    <tr>
                        <td>#</td>
                        <td>
                            <img alt="...." />
                        </td>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td class="@((item.IsActive)? "text-success" :"text-danger")">
                            <p>@((item.IsActive)? "true" : "false")</p>
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            @item.ActiveDate
                        </td>
                        <td>
                            <a asp-page-handler="Delete" asp-route-id="@item.UserId" asp-route-token="@Model.AppToken" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<br />
<br />
<br />